.header {
  display: flex;
  width: 100%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  color: #1390e5;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 75%;
  margin: auto;
}

.header__nav__ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 10vh;
  
}

.header__nav__ul__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  color: #1390e5;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
}
.header__nav__ul__item:hover {

  border-bottom: 3px solid #1390e5;

}
.header__nav__ul__item__logo{
  max-height: 7vh;
}