*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90vh;
  background-color: #FAFAFA;
}

.appContainer__app{
 
  height: 100%;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}